@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container
{
    width: 100%;
    height: 100vh;
    background-image: url(images/2.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}

.logo
{
    width: 150px;
    padding: 20px 0;
    cursor: pointer;
}
.content
{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #000000;
}

.content h1
{
    font-size: 65px;
    font-weight: 600;
}

.content h1 span
{
    color: #ff0000;
}

.content button
{
    background: transparent;
    border: 2px solid #000000;
    outline: none;
    padding: 12px 25px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.rocket
{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket 
{
    0%{
        bottom: 0;
        opacity: 0;
    }

    100%{
        bottom: 105%;
        opacity: 1;
    }
}

.lanch-time
{
    display: flex;
}

.lanch-time div
{
    flex-basis: 100px;
}

.lanch-time div p
{
    font-size: 60px;
    margin-bottom: -14px;
}